// color
$base-color: #555;
$thin-color: #f0f0f0;
$concept-color: #E3EDF7;
$neumorphism-convex: 6px 6px 12px #c1c9d2, -6px -6px 12px #ffffff;
$neumorphism-concave: inset 6px 6px 12px #c1c9d2, inset -6px -6px 12px #ffffff;
$accent-color: orange;

// size
$pc-width: 900px; // PCの画面サイズ
$sp-width: 600px; // スマホの画面サイズ
$header-height: 70px; // ヘッダーバーのサイズ
$oveflow-height: 10px;
$title-font-size: 20px;
$medium-font-size: 16px;
$base-font-size: 13px;
$small-font-size: 11px;

//
$transition-time: .3s;
$opacity-rate: 0.3;