// color
$base-color: #555;
$thin-color: #f0f0f0;
$concept-color: #EDEEF0;
$neumorphism-convex: 5px 5px 8px #d5d6d8, -5px -5px 8px #ffffff;
$neumorphism-concave: inset 5px 5px 8px #d5d6d8, inset -5px -5px 8px #ffffff;
$rotate-color: #0E3062;

// size
$pc-width: 900px; // PCの画面サイズ
$sp-width: 600px; // スマホの画面サイズ
$header-height: 70px; // ヘッダーバーのサイズ
$oveflow-height: 10px;
$title-font-size: 20px;
$medium-font-size: 16px;
$base-font-size: 13px;
$small-font-size: 11px;

//
$transition-time: .3s;
$opacity-rate: 0.3;